Repository Leets-Official/Commitato-FE, pull requests merged in 2025-03, with the labels that each got.

#73 #72 Feat: 마이페이지 api 연결
  package-lock.json
  package.json
  src/apis/commit/commit.ts
  src/apis/myPage/commitUpdate.api.ts
  src/apis/myPage/updateButton.api.ts
  src/apis/myPage/user.api.ts
  src/assets/icon/ic_question_mark.svg
  src/assets/icon/ic_speech_bubble.svg
  src/components/modal/LevelMapModal.tsx
  src/components/myPage/CommitStats.tsx
  src/components/myPage/ProfileCard.tsx
  src/components/myPage/UpdateButton.tsx
  src/constants/countNumber.constant.ts
  src/constants/statsData.constant.ts
  src/pages/myPage/index.tsx
  src/types/user.d.ts
  tailwind.config.ts
Labels: ✨Feature, 🔗API, 🎨Style

#79 #76 Feat: 랭킹페이지 api 연결
  .eslintrc.cjs
  package-lock.json
  package.json
  src/apis/ranking/ranking.api.ts
  src/components/Ranking/Pagination.tsx
  src/components/Ranking/RankingItem.tsx
  src/components/Ranking/RankingList.tsx
  src/components/common/Button.tsx
  src/components/common/Footer.tsx
  src/components/common/Header.tsx
  src/components/main/GithubLoginButton.tsx
  src/components/main/PotatoSection.tsx
  src/components/modal/CongratModal.tsx
  src/components/modal/WelcomeModal.tsx
  src/components/myPage/ProfileCard.tsx
  src/pages/Main/index.tsx
  src/pages/Ranking/index.tsx
  src/pages/myPage/index.tsx
  src/routes/routes.tsx
  tsconfig.eslint.json
Labels: ✨Feature, 🔗API, 🎨Style

#80 #78 Fix: modal api 연결
  src/components/main/GithubLoginLoading.tsx
  src/components/modal/CongratModal.tsx
  src/pages/Main/index.tsx
  src/pages/myPage/index.tsx
Labels: ♻Refactor, 🔗API

#81 #74 Feat: 마이페이지 깃허브 잔디 api 연결
  src/apis/myPage/userCommit.api.ts
  src/components/myPage/CommitCalendar.tsx
  src/components/myPage/MyCommitFarm.tsx
  src/constants/countNumber.constant.ts
Labels: 🔗API, 🎨Style
